.dialogs {
display: flex;
flex-flow: row nowrap;
 }

 .messages {
    background-color:white;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 20px;
 }
 .messageContainer {
    display: inline grid;
    grid-template-columns: 100px 50px 10px;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  .imguser {
    margin-right: 5px;
    width: 50px;
    border-radius: 10px;
  }
  .timeright {
    float: right;
    color: #aaa;
  }
  
  .timeleft {
    float: left;
    color: #999;
  }
 .dialog {
    margin: 5px;
    flex-basis: 20%;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
 }
.active {
    color: chocolate;
}
.dialog {
    display:flex;
    flex-direction: column;
}